/*
Theme Name: Jenessa Seruela Realty
Theme URI: #
Author: Dan Laurice V. Seruela
Author URI: https://www.linkedin.com/in/dseruela/
Description: A WordPress theme designed using Bootstrap Framework for Jenessa Seruela Real Estate
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: jenseruela
This theme, like WordPress, is licensed under the GPL.
*/

/*
 * Globals test
 */

@font-face {
  font-family: "Avenir";
  src: url("./fonts/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: "bebas";
  src: url("./fonts/Bebas-Regular.ttf"),
       url("./fonts/Bebas-Regular.otf");
}
@font-face {
  font-family: "Lato-Bold";
  src: url("./fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Light";
  src: url("./fonts/Lato-Light.ttf");
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato";
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.75px;
  color: #565656;
}

h1, .h1, h2, .h2,
h3, .h3, h4, .h4,
h5, .h5, h6, .h6 {
  font-family: "Lato";
  /* color: #333; */
}

h1 { font-size: 5vw; width: inherit; }
h2 { font-size: 4.5vw; width: inherit; }
h3 { font-size: 4vw; width: inherit; }
h4 { font-size: 3.5vw; width: inherit; }
h5 { font-size: 3vw; width: inherit; }
h6 { font-size: 2.5vw; width: auto; }

/* Frontpage Slider */
.home #carouselHeaderControls .carousel-caption {
  top: 40% !important;
  bottom: auto !important;
  background-color: rgba(0,0,0,.5);
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.home #carouselHeaderControls .carousel-caption .subheader{
  color: #e1e1e1;
}

.card {
  border-radius: 0;
}
.listing .card:hover,
.featured-listing .card:hover {
  background-color: #565656 !important;
  color: #fff !important;
}
.card-deck {
  padding-left: 4%;
  padding-right: 4%;
  width: 100%;
}
.card-title {
  font-size: 1.5rem;
}
.btn {
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-size: 0.6rem;
  padding: 1.2rem 1.5rem;
}
.form-control {
  border-radius: 0 !important;
}
.form-control:focus {
  border-color: #1d2124 !important;
  box-shadow: none;
}
/* default hyperlink */
a { color:rgba(0,0,0,.5) }

a:hover,
a:active {
  color:rgba(0,0,0,.9);
  text-decoration: none;
}
#navbar-main a.navbar-brand {
  font-family: "Lato";
  color: #fff;
}
.navbar {
  padding: .8rem 3%;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: transparent !important;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-scrolled {
  background-color: #fff !important;
  box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
}
.cclogo {
  width: 50%;
}
.navbar .menu-item a {
  padding: 0.5rem 2rem;
  font-family: "Lato-Bold";
  font-size: 1.2vw;
  letter-spacing: 3.5px;
  color: #fff;
}
.navbar .menu-item a:hover {
  color: #800000;
}
.nav-pills .nav-link.active {
  background-color: #212529;
}
.nav-pills .nav-link{
  color: #212529;
}
#pills-tabContent .col-pad-2,
#properties-section .col-pad-2,
#properties-page .col-pad-2,
#properties .col-pad-2,
#recent-post .col-pad-2 {
  padding: 0.2rem !important;
}
.featured-listing {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#pills-tabContent .card,
#properties-section .card,
#properties-page .card,
#recent-post .card {
  margin-left: 0;
  margin-right: 0;
}
.header-image-post {
  display: block;
  position: relative;
  z-index: 0;
  width: 100%;
  min-height: 436px;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.screen-reader-text {
  font-size: 1.2rem;
}
.post-navigation {
  margin: 3rem 0;
  text-align: center;
}
.post-navigation .nav-links {
  display: inline-flex;
}
.post-navigation .nav-links .nav-title {
  padding: 0.5rem;
}
.entry-content .col-sm-6 {
  padding: 2rem;
}
.entry-content .gallery {
  background-color: #e1e1e1;
  margin: 2rem auto !important;
}
.entry-content .gallery h6 {
  color: #800000;
}
.spacer {
  height: 2rem;
}
/* Interested Section */
.listing-details-contact {
  background-image: url('img/bedroom-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1342px;
  margin: 2rem auto;
  padding: 30px 0;
}
.list-details-contact-photo {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
}
.list-details-contact-photo canvas {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-color: #fff;
}
.list-details-contact-agent {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: .100em;
  margin-bottom: 34px;
}
.list-details-contact-name {
  font-weight: 400;
  font-size: 50px;
  letter-spacing: .050em;
  text-transform: uppercase;
  color: #800000;
  line-height: 55px;
  margin-bottom: 8px;
}
.list-details-contact-name span {
  display: block;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: .100em;
}
.listing-contact-mid-holder {
  margin-left: 0;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.listing-contact-item {
  margin-right: 30px;
}
.listing-contact-item span {
  font-size: 18px;
  color: #800000;
  margin-right: 10px;
}
.listing-contact-item a.telno {
  font-weight: 400;
  font-size: 26px;
  color: #222;
  letter-spacing: .050em;
}
.listing-contact-item a.emailto {
  font-weight: 400;
  font-size: 16px;
  color: #222;
  letter-spacing: .300em;
  text-transform: uppercase;
  text-decoration: none;
}
/* Search Form */
#properties-page .search-form {
  margin: auto;
}
/* #properties-page .search-form .screen-reader-text {
  display: none;
} */
#properties-page .search-form .btn {
  vertical-align: top;
}
.search-field {
  width: 20rem;
  padding: 1.64rem 1rem;
}

.whatwedo-icon {
  width: 40%;
}
#about {
  /* background-image: url('img/strength-people-hands-success-meeting.jpg'); */
  background-size: cover;
  width: 100%;
  height: 45rem;
}
.aboutLeft {
  /* background-image: url('img/about/about-parallax-bg.jpg'); */
  background-size: cover;
  background-position: center left;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 50%;
  float: left;
}
.aboutRight {
  width: 50%;
  padding: 4% 5% 2%;
  float: right;
}
.subheader,
.aboutRight .subheader {
  font-size: 1.2rem;
  color: rgba(0,0,0,.5);
  letter-spacing: 1rem;
}
.aboutH1 {
  position: relative;
  line-height: 1;
  font-family: 'Lato-Light';
  margin: 0 0 0.5rem;
  letter-spacing: 0.8rem;
}
.aboutH1 b {
  color: #800000;
}
#about p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  padding-bottom: 1rem;
}
.services ul {
  padding-left: 0;
}
.services ul li {
  list-style: none;
}
.services i {
  font-size: 5rem;
}
.properties,
.properties h1,
.properties p {
  margin: auto;
}
.properties-member {
  margin-left: auto;
  margin-right: auto;
  width: 18rem;
}
.properties-slide .carousel-control-next, 
.properties-slide .carousel-control-prev {
  width: 1%;;
}
.properties-slide .carousel-control-prev-icon {
  background-image: url('img/icons/left.png') !important;
}
.properties-slide .carousel-control-next-icon {
  background-image: url('img/icons/right.png') !important;
}
.w-9 {
  width: 9%;
}
.contactLeft {
  width: 50%;
  padding: 3rem;
  float: left;
}
.contactRight {
  width: 50%;
  padding: 3rem;
  float: right;
}
.contactRight i {
  padding-right: 1rem;
}
footer {
  /* background-color: #333; */
  background-color: #212529;
  color: #fff;
  padding: 1.25rem 4%;
}
footer img { width: 80%; }
footer a { color: #aaa; }
footer a:hover,
footer a:active {
  color: #fff;
  /* text-decoration: underline; */
}
footer h3.widget-title {
  font-size: 1.5vw !important;
}
footer ul#menu-header-menu-1 {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
footer ul {
  padding-left: 0;
}
footer ul#menu-header-menu-1 li,
.copyright {
  font-size: 0.9rem;
  letter-spacing: 1.2px;
  border-top: 1px solid rgba(255,255,255,0.09);
  width: 80%;
  /* margin: 40px auto 0; */
  padding: 0.5rem 0;
  border: 0;
}
footer ul li {
  font-size: 0.9rem;
  letter-spacing: 1.2px;
  list-style: none;
  padding: 0.5rem 0;
  border: 0;
}
footer ul li i {
  padding-right: 1rem;
}
.copyright { margin: 40px auto 0; }
footer ul#menu-header-menu-1 li {
  list-style: none;
  flex-basis: 33%;
  line-height: 1.42;
}
.social-profiles i {
  font-size: 2vw;
  padding-right: 1vw;
}

/* PAGE - WHAT WE DO */
#whatwedo-page,
#properties-page {
  margin-top: 2rem;
}
#whatwedo-page nav {
  margin-top: 5rem;
}
#whatwedo-page nav {
  margin-bottom: 3rem;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
  footer.card-deck,
  #whatwedo-page.card-deck,
  #properties-section.card-deck,
  #properties-page.card-deck,
  #contact.card-deck,
  #single.card-deck,
  .properties-slide.card-deck {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media (min-width: 1441px) {
  #about {
    height: 56rem;
  }
  .aboutRight {
    padding: 2%;
  }
  #whatwedo-services {
    margin-bottom: 6rem;
  }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #about {
      height: 26rem;
    }
    #about .aboutLeft,
    #about .aboutRight {
      width: 100%;
    }
    #about .aboutRight p {
      font-size: 1.2rem;
    }
}

/* Mobile - L = 425px */ 
@media (max-width: 425px) and (min-width: 320px) {
  body {
    font-size: 1.3rem;
  }
  #navbar-main {
    background-color: #800000 !important;
  }
  #navbar-main .navbar-brand {
    max-width: 50%;
  }
  #navbar-main #menu-main-menu li {
    margin: 0.5rem 0;
  }
  #navbar-main .menu-item a {
    font-size: 6vw;
    line-height: 3.5rem;
  }
  #navbar-main .menu-item a:hover {
    color: #e1e1e1;
  }
  #carouselHeaderControls {
    margin-top: 4rem;
  }
  .home #carouselHeaderControls .carousel-caption {
    top: 5% !important;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .home #carouselHeaderControls .carousel-caption .subheader {
    font-size: 0.8rem;
    letter-spacing: 0.8rem;
  }
  .home #carouselHeaderControls .carousel-caption h1 {
    font-size: 1.8rem;
    line-height: 1;
  }
  .cclogo {
    width: auto !important;
  }
  #whatwedo h1,
  #about .aboutRight h1,
  #properties h1,
  #contact h1,
  #whatwedo-page h1,
  #properties-page h1 {
    font-size: 13vw;
  }
  #whatwedo-services h6,
  #accreditation h6,
  #whatwedo-page h6,
  #properties-page h6 {
    font-size: 6.5vw;
  }
  #whatwedo-services .services div {
    padding-bottom: 20px;
  }
  #about .aboutRight p {
    font-size: 1.3rem;
  }
  #about .aboutLeft,
  #about .aboutRight {
    width: 100%;
    padding: 5% 6%;
  }
  #carouselPropertiesControls {
    margin-bottom: 2rem;
    height: 13rem;
  }
  #carouselPropertiesControls .mb-5 {
    margin-bottom: 1rem !important;
  }
  #carouselPropertiesControls .mt-5 {
    margin-top: 1rem !important;
  }
  #carouselPropertiesControls .ml-3 {
    margin-left: 0.3rem !important;
  }
  #carouselPropertiesControls .mr-3 {
    margin-right: 0.3rem !important;
  }
  #carouselPropertiesControls .w-9 {
    width: 20% !important;
  }
  #contact .contactLeft,
  #contact .contactRight {
    width: 100%;
    float: none;
    padding: 1rem;
  }
  #contact .contactRight {
    font-size: 1.3rem;
    line-height: 1.6;
  }
  /* CTA */
  .listing-contact-mid-holder {
    display: block;
  }
  .listing-contact-item, .list-contact-btn {
    margin-top: 1rem;
    margin-right: 0;
  }
  .list-details-contact-name {
    font-weight: 700;
    font-size: 32px;
  }
  /* Single Page */
  #single h1 { font-size: 10vw !important; }
  #single h2 { font-size: 9.5vw !important; }
  #single h3 { font-size: 9vw !important; }
  #single h4 { font-size: 8.5vw !important; }
  #single h5 { font-size: 8vw !important; }
  #single h6 { font-size: 7.5vw !important; }

  footer {
    text-align: center;
  }
  footer .my-3 {
    margin-bottom: 2rem !important;
  }
  footer h3.widget-title,
  #contact h6 {
    font-size: 5vw !important;
  }
  .social-profiles i {
    font-size: 6vw;
  }
  footer ul#menu-header-menu-1 li, .copyright {
    font-size: 1.2rem;
  }
}

/* Mobile - M = 375px
@media (max-width: 375px) {
  #navbar-main .menu-item a {
    font-size: 7vw;
  }
} */